[ssh_connection]
# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
#ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
# avoid using ~/.ssh/config with your aliases
ssh_args=-C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes -F /dev/null


[defaults]
host_key_checking = False
roles_path = roles
inventory = inventory
interpreter_python = /usr/bin/python3